<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@message.list.headline">Messages</h1>
    <div>
        <a routerLink="/messages/add" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2" i18n="@@message.list.createNew">Create new Message</a>
    </div>
</div>
@if (!messages || messages.length === 0) {
<div i18n="@@message.list.empty">No Messages could be found.</div>
} @else {
<div class="overflow-x-auto">
    <table class="w-full">
        <thead>
            <tr>
                <th scope="col" class="text-left p-2" i18n="@@message.id.label">Id</th>
                <th scope="col" class="text-left p-2" i18n="@@message.sentAt.label">Sent At</th>
                <th scope="col" class="text-left p-2" i18n="@@message.modulee.label">Modulee</th>
                <th scope="col" class="text-left p-2" i18n="@@message.student.label">Student</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody class="border-t-2 border-black">
            @for (message of messages; track message.id) {
            <tr class="odd:bg-gray-100">
                <td class="p-2">{{ message.id }}</td>
                <td class="p-2">{{ message.sentAt }}</td>
                <td class="p-2">{{ message.modulee }}</td>
                <td class="p-2">{{ message.student}}</td>
                <td class="p-2">
                    <div class="float-right whitespace-nowrap">
                        <a [routerLink]="['/messages/edit', message.id]" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@message.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(message.id!)" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@message.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
