<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@student.edit.headline">Edit Student</h1>
    <div>
        <a routerLink="/students" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@student.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="apogeeNumber" i18n-label="@@student.apogeeNumber.label" label="Apogee Number" />
    <app-input-row [group]="editForm" field="firstName" i18n-label="@@student.firstName.label" label="First Name" />
    <app-input-row [group]="editForm" field="lastName" i18n-label="@@student.lastName.label" label="Last Name" />
    <app-input-row [group]="editForm" field="createdAt" i18n-label="@@student.createdAt.label" label="Created At" />
    <app-input-row [group]="editForm" field="user" rowType="select" [options]="userValues" i18n-label="@@student.user.label" label="User" />
    <app-input-row [group]="editForm" field="filiere" rowType="select" [options]="filiereValues" i18n-label="@@student.filiere.label" label="Filiere" />
    <input type="submit" i18n-value="@@student.edit.headline" value="Edit Student" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
</form>
