<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@exam.edit.headline">Edit Exam</h1>
    <div>
        <a routerLink="/exams" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@exam.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@exam.id.label" label="Id" />
    <app-input-row [group]="editForm" field="title" i18n-label="@@exam.title.label" label="Title" />
    <app-input-row [group]="editForm" field="examYear" rowType="number" i18n-label="@@exam.examYear.label" label="Exam Year" />
    <app-input-row [group]="editForm" field="fileUrl" i18n-label="@@exam.fileUrl.label" label="File Url" />
    <app-input-row [group]="editForm" field="uploadedAt" i18n-label="@@exam.uploadedAt.label" label="Uploaded At" />
    <app-input-row [group]="editForm" field="modulee" rowType="select" [options]="moduleeValues" i18n-label="@@exam.modulee.label" label="Modulee" />
    <input type="submit" i18n-value="@@exam.edit.headline" value="Edit Exam" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
</form>
