<h1 class="text-3xl md:text-4xl font-bold text-blue-700 mb-8">Bienvenue sur le panneau d'administration</h1>
<div class="md:w-2/5 mb-12">
    <h4 class="text-2xl font-semibold mb-4">Gérer les entités</h4>
    <div class="flex flex-col border border-gray-200 rounded-xl shadow-lg bg-white">
        <a routerLink="/filieres" class="w-full border-b border-gray-200 hover:bg-blue-50 rounded-t px-4 py-3 transition-colors">Filières</a>
        <a routerLink="/modulees" class="w-full border-b border-gray-200 hover:bg-blue-50 px-4 py-3 transition-colors">Modules</a>
        <a routerLink="/students" class="w-full border-b border-gray-200 hover:bg-blue-50 px-4 py-3 transition-colors">Étudiants</a>
        <a routerLink="/teachers" class="w-full border-b border-gray-200 hover:bg-blue-50 px-4 py-3 transition-colors">Enseignants</a>
        <a routerLink="/exams" class="w-full border-b border-gray-200 hover:bg-blue-50 px-4 py-3 transition-colors">Examens</a>
        <a routerLink="/studentModuleEnrollments" class="w-full rounded-b hover:bg-blue-50 px-4 py-3 transition-colors">Inscriptions aux modules</a>
    </div>
</div>
